# Data Science Tools and Ecosystem

In This Notebook, Data Science Tools and Ecosystem are summarized.

__Objetives:__
- List popular languages for Data Scientists
- List popular libraries for Data Scientists
- Practicing some artithmetic expressions on Python language

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientist include:
1. Numpy
2. Pandas
3. MathPlotLib

| Data Science Tools |
|-------------------|
| Jupyter Notebook|
|Apache Sparks|
|Apache Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
x = 5 + 3
y = 6 + 5
z = x + y
print(z)

19

In [ ]:
(3*4)+5
# This a simple arithmetic expression to multiply then add integers.

17

In [1]:
200/60
# This will convert 200 minutes to hours by dividing by 60.

3.3333333333333335

## Author
Rub√©n de Toro Orellana